# SQLite version 3.x
#   gem install sqlite3
#
#   Ensure the SQLite 3 gem is defined in your Gemfile
#   gem 'sqlite3'
#
default: &default
  adapter: crate
  host: 127.0.0.1
  port: 4200

development:
  <<: *default

test:
  <<: *default
  port: 4209

production:
  <<: *default
